#page-content
  Welcome to the WDIViz App.
  Here is a sample chart.
  #sampleChart

:javascript
  zingchart.render({
    id : "sampleChart",
    height : 450,
    width : 600,
    data : sampleChart
  });